/* app/static/css/base.css */

/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definir a fonte padrão para o corpo */

/* Estilo para links */
a {
    color: blue;  /* Defina a cor desejada aqui */
    text-decoration: none;  /* Remove o sublinhado dos links */
}

/* Estilo para links ao passar o mouse */
nav {
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
    margin: 20px 0; /* Espaçamento acima e abaixo da barra de navegação */
}

nav a {
    color: #000; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    margin: 0 15px; /* Espaçamento entre os links */
    padding: 10px 20px; /* Espaçamento interno dos links */
    transition: all 0.3s ease; /* Transição suave para hover */
}

nav a:hover {
    color: red; /* Cor ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #fff9ea;
  }
  .btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color .3s ease;}