{% extends 'base.html' %}

{% block conteudo %}
<h1>Currículos Enviados</h1>
<ul>
  {% for curriculo in curriculos %}
    <li>
      Nome: {{ curriculo.nome }}<br>
      E-mail: {{ curriculo.email }}<br>
      Telefone: {{ curriculo.telefone }}<br>
      Cargo Desejado: {{ curriculo.cargo_desejado }}<br>
      Escolaridade: {{ curriculo.escolaridade }}<br>
      Observações: {{ curriculo.observacoes }}<br>
      Arquivo: {{ curriculo.arquivo }}<br>
      IP: {{ curriculo.ip }}<br>
      Data de Envio: {{ curriculo.data_envio }}<br>
    </li>
  {% endfor %}
</ul>
{% endblock %}
